# Compiled classes

*.class

# Logs

*.log

# NetbeansIDE

nbproject/private/**
/build/**
/nbbuild/**
/dist/**
/nbdist/**
nbactions.xml
nb-configuration.xml

# JUnitTest

test*

# Packages

*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
